<settings>
    <setting id="artistslideshow.disable" type="bool">false</setting>
    <setting id="SkinHelper.DisableHoursDuration" type="bool">false</setting>
    <setting id="skinshortcuts-widget-WeatherWidget" type="bool">true</setting>
    <setting id="skinshortcuts-widget-EpisodesWatchlist" type="bool">true</setting>
    <setting id="ratings.movies.enable" type="bool">false</setting>
    <setting id="tvtunes.enable" type="bool">false</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RecentlyPlayedAlbums" type="bool">true</setting>
    <setting id="mediaoverlay.disable" type="bool">false</setting>
    <setting id="homemenu.collapse" type="bool">true</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="home.time" type="bool">true</setting>
    <setting id="fanart.visualization.blend" type="bool">false</setting>
    <setting id="fanart.weather" type="bool">true</setting>
    <setting id="overlay.movies.disable" type="bool">false</setting>
    <setting id="global.kiosk" type="bool">false</setting>
    <setting id="home.nowplaying" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/backgrounds/weather.jpg" type="bool">true</setting>
    <setting id="fanart.global" type="bool">false</setting>
    <setting id="skinshortcuts-background-D:\201609201749\addons\skin.refocus\backgrounds\WizeTV.jpg" type="bool">true</setting>
    <setting id="overlay.pvr" type="bool">false</setting>
    <setting id="autoscroll.enable" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="keyboard.enable" type="bool">true</setting>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="dev.overlay" type="bool">false</setting>
    <setting id="sortletter.enable" type="bool">false</setting>
    <setting id="WeatherFanart.multi" type="bool">true</setting>
    <setting id="homemenu.compact" type="bool">true</setting>
    <setting id="skinshortcuts-widget-RecentVideos" type="bool">true</setting>
    <setting id="overlay.files.disable" type="bool">false</setting>
    <setting id="EnableWeatherNotifications" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/backgrounds/settings.jpg" type="bool">true</setting>
    <setting id="view.list.fanart" type="bool">false</setting>
    <setting id="dev.grid" type="bool">false</setting>
    <setting id="widgets.push" type="bool">false</setting>
    <setting id="view.biglist.posters" type="bool">false</setting>
    <setting id="backgrounds.fanart" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="widgets.disable" type="bool">false</setting>
    <setting id="overlay.episodes.disable" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="search.disable" type="bool">true</setting>
    <setting id="logos.movies.enable" type="bool">true</setting>
    <setting id="nextaired.disable" type="bool">false</setting>
    <setting id="SkinHelper.EnableAddonsLookups" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MoviesWatchlist" type="bool">true</setting>
    <setting id="menu.playlist" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="disablecontext:script.playrandomvideos" type="bool">false</setting>
    <setting id="widgetinfo.onfocus" type="bool">false</setting>
    <setting id="widgetheader.disable" type="bool">false</setting>
    <setting id="view.list.artistfanart" type="bool">false</setting>
    <setting id="SmartShortcuts.netflix" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/backgrounds/pictures.jpg" type="bool">true</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="overlay.resumable.disable" type="bool">false</setting>
    <setting id="cards.enable" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/backgrounds/WizeTV.jpg" type="bool">true</setting>
    <setting id="overlay.tvshows.disable" type="bool">false</setting>
    <setting id="banner.movies.enable" type="bool">true</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="ratings.user.enable" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RecentEpisodes" type="bool">true</setting>
    <setting id="cleanlibrary.enable" type="bool">false</setting>
    <setting id="EnableNextAiredNotifications" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://profile/addon_data/script.skinshortcuts/skin.refocus-background-movies.jpg" type="bool">true</setting>
    <setting id="logos.tvshows.enable" type="bool">true</setting>
    <setting id="landscapethumb.enable" type="bool">true</setting>
    <setting id="ratings.tvshows.enable" type="bool">false</setting>
    <setting id="backgroundvideo.global" type="bool">true</setting>
    <setting id="fanart.visualization" type="bool">false</setting>
    <setting id="skinshortcuts-widget-YouTubePopular" type="bool">true</setting>
    <setting id="WeatherFanart.ext" type="string">.jpg</setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="skinshortcuts-widget-3" type="string">EpisodesWatchlist</setting>
    <setting id="SkinHelper.ForcedViews.seasons" type="string"></setting>
    <setting id="SkinHelper.WallImagesDelay" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.addons" type="string"></setting>
    <setting id="fanartinfo" type="string"></setting>
    <setting id="WeatherCheck" type="string"></setting>
    <setting id="SkinHelper.CustomStudioImagesPath" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">MoviesWatchlist</setting>
    <setting id="skinshortcuts-widget-7" type="string">WeatherWidget</setting>
    <setting id="fanarttype" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.tvshows" type="string"></setting>
    <setting id="HomeLoaded" type="string">True</setting>
    <setting id="SkinSettings" type="string">Home</setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="WeatherFanart.name" type="string">Weather Fanart - Multi</setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="skinshortcuts-widget-2" type="string">RecentEpisodes</setting>
    <setting id="skinshortcuts-widget-6" type="string">WeatherWidget</setting>
    <setting id="videoinfo_traileraction" type="string"></setting>
    <setting id="TVDB_CFG" type="string"></setting>
    <setting id="epg.scrolltime" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.episodes" type="string"></setting>
    <setting id="HashLib" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.movies" type="string"></setting>
    <setting id="addon.lyrics.path" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">WeatherWidget</setting>
    <setting id="SkinHelper.PicturesBackgroundPath" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.files" type="string"></setting>
    <setting id="menu.controls" type="string">none</setting>
    <setting id="SkinHelper.ForcedViews.programs" type="string"></setting>
    <setting id="TMDB_API" type="string"></setting>
    <setting id="homemenu.type" type="string">vertical</setting>
    <setting id="WeatherFanart.path" type="string">resource://resource.images.weatherfanart.multi/</setting>
    <setting id="skinshortcuts-widget-4" type="string">RecentlyPlayedAlbums</setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.videos" type="string"></setting>
</settings>
